extends layout

block content

  form(method='POST')
    legend Reset Password
    .form-group
      label(for='password') New Password
      input.form-control(type='password', id="password", name='password', value='', required, placeholder='New password', autofocus=true)
    .form-group
      label(for='confirm') Confirm Password
      input.form-control(type='password', id="confirm", name='confirm', value='', required, placeholder='Confirm password' onkeyup="matchPassword(); return false;" )
      span#confirmMessage
    .form-group
      button.btn.btn-primary(type='submit') Update Password
